body{
    background: linear-gradient(to right, rgb(147, 28, 232), rgba(147, 28, 232, 0.36));
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fasthand', cursive;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 4em;
    padding-top: 0%;
    margin: 0%;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fasthand', cursive;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 3em;
    padding-top: 0%;
    margin: 0%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: max-content;
    flex-direction: column;
    margin: 0 auto;
}
#increment-btn{
    background: rgb(255, 36, 36);
    font-size: 20px;
    color: white;
    margin: 10px;
    width: 100%;
    transition: all 400ms linear 0.2s;
}

#increment-btn:hover{
    background: rgba(255, 36, 36, 0.40);
}

#decrement-btn{
    background: rgb(36, 255, 91);
    font-size: 20px;
    color: white;
    margin: 10px;
    width: 100%;
    transition: all 400ms linear 0.2s;
}
#decrement-btn:hover{
    background: rgba(36, 255, 91, 0.40);
}

#save-btn{
    background: rgb(36, 218, 255);
    font-size: 20px;
    color: white;
    margin: 10px;
    width: 100%;
    transition: all 400ms linear 0.2s;
}

#save-btn:hover{
    background: rgba(36, 218, 255, 0.40);
}

#reset-btn{
    background: rgb(255, 124, 36);
    font-size: 20px;
    color: white;
    margin: 10px;
    width: 100%;
    transition: all 400ms linear 0.2s;
}
#reset-btn:hover{
    background: rgba(255, 124, 36, 0.40);
}